<a href="https://colab.research.google.com/github/bihari-boy-to-code/DATA-Science-Notes-and-Projects/blob/main/Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello")

hello

# function with docStiring

In [ ]:
# function is a block of code .
# code resuability
## ABSTRACTION
### DECOMPOSTION

In [ ]:
## Let's create a function
def is_even(num):
  """
  this function returns if a given number is odd or even
  input - any valid integer
  output - odd/even
  """
  if num % 2 == 0:
      return "even"
  else:
      return "odd"

is_even(10)

'even'

In [ ]:
# TYPES OF ARGUMENT
## Default argument
### Positional argument
#### Keyword argument

In [ ]:
# Default argument
def power(a = 1,b = 0):
  return a**b

power()

1

In [ ]:
### Positional argument
power(2,3)

8

In [ ]:
####  Keyword argument
power(b = 3,a = 2)

8

In [ ]:
# ARGS & Kwargs are special python keywords that are used to pass the variable length of a arguments to a function.
# ARGS-----allows us to pass a variable number of non-keyword arguments to a function
#* ARGS
def multiply(*args):
  product = 1

  for i in args:
    product = product * i

  print(args)
  return product

multiply(2,3,3,2,1,4,6,9,0)

(2, 3, 3, 2, 1, 4, 6, 9, 0)

0

In [ ]:
from typing_extensions import NewType
# Kwargs
## ** kwargs allows us to pass any number of keyword argument
# KeyWord arguments mean that they contain a key - value pair, like a python dictionary ,

def display(**kwargs):

  for (key,value) in kwargs.items():
    print(key, '->', value)

display(india = "delhi", srilanka = "colombo" , nepal = "kathmandu")

india -> delhi
srilanka -> colombo
nepal -> kathmandu

In [ ]:
# without return statement
def is_even(num):
  if num % 2 == 0:
    print("even")
  else:
    print("odd")

In [ ]:
## Variable scope
def g(y):  ## GLOBAL VARIABLE
  print(X)
  print(X+1)
X = 5
g(X)
print(X)

5
6
5

In [ ]:
def f(x):
  x = x+1
  print('in f(x): x = ', x)
  return x

x = 3
z = f(x)
print('in main program scope: z = ', z)
print('in main program scope: x = ', x)

in f(x): x =  4
in main program scope: z =  4
in main program scope: x =  3

In [ ]:
## NESTED FUNCTION

def g(x):
  def h():
    x = 'abc'
  x = x + 1
  print('in g(x): x = ', x)
  h()
  return x

x = 3
z = g(x)

in g(x): x =  4

In [ ]:
### functions are 1st class citizens
# type and id
def square(num):
  return num **2

type(square)
id(square)

136907666224800

In [ ]:
# REASSIGN
x = square
id(x)

136907666224800

In [ ]:
# DELETING A FUNCTION
del square

In [ ]:
s = {square}

NameError: name 'square' is not defined

In [ ]:
## RETU:RNING A FUNCTION
def f():
  def x(a,b):
    return a+b
  return x

val = f()(3,4)
print(val)

7

In [ ]:
## FUNCTION as argument
def func_a():
  print('inside func_a')

def func_c(z):
  print('inside func_c')
  return z()

print(func_c(func_a))

inside func_c
inside func_a
None

In [ ]:
a = lambda x:x**2
a

In [ ]:
b = lambda x,y:x+y
b(2,3)

5

In [ ]:
## HIGH ORDER FUNCTION

In [ ]:
# EXAMPLE
def square(x):
  return x**2

def transform(f,l):
  output = []
  for i in l:
    output.append(f(i))
  print(output)

l = [1,2,3,4,5]
transform(square,l)

[1, 4, 9, 16, 25]

In [ ]:
##### MAP

In [ ]:
list(map(lambda x:x**2,[1,2,3,4,5]))

[1, 4, 9, 16, 25]

In [ ]:
l = [1,2,3,4,5]
list(map(lambda x:'even' if x%2 == 0 else 'odd',l))

['odd', 'even', 'odd', 'even', 'odd']

In [ ]:
## FILTER
#number greater than 5
l = [3,4,5,6,7]
list(filter(lambda x: x>5,l))

[6, 7]

In [ ]:
## FETCH FRUITS STARTING  WITH "A"

fruits = ["apples","guava", "cherry"]
list(filter(lambda x:x.startswith('a'),fruits))

['apples']

In [ ]:
## REDUCCE

In [ ]:
## SUM OF ALL ITEMS
import functools
functools.reduce(lambda x,y:x+y,[1,2,3,4,5])

15

In [ ]:
# find min
functools.reduce(lambda x,y:x if x>y else y,[1,2,3,4,5])

5