<a href="https://colab.research.google.com/github/bihari-boy-to-code/DATA-Science-Notes-and-Projects/blob/main/Lists_in_python_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
## LISTS
# List is a data types where you can store multiple items under 1 name.lists act like dynamic arrays which means you can add more items on the fly
# list -> [1,2,3,4]

# Array VS LIST


*   Fixed Vs dynamic Size
*   Convenicece -> Hetrogeneous(any types of data)
*   Speed of Execution
*   memory

In [7]:
l = [1,2,3]
print(id(l))
print(id(l[0]))
print(id(l[1]))
print(id(l[2]))

132913723696384
11642088
11642120
11642152

In [8]:
# Containn any kind of objects in python

In [10]:
## CREATING A LIST

# EMPTY LIST
print([])
# 1D list
print([1,2,3])
# 2D list
print([[1,2],[3,4]])
# 3D list
print([[[1,2],[3,4],[5,6],[7,8]]])
#HETROGENOUS list
print([1,True,5.6])
# USING TYPE CONVERSION
print(list("hello"))

[]
[1, 2, 3]
[[1, 2], [3, 4]]
[[[1, 2], [3, 4], [5, 6], [7, 8]]]
[1, True, 5.6]
['h', 'e', 'l', 'l', 'o']

In [53]:
## Accessing items from a list
#INDEXING
# l = [[[1,2],[3,4]], [[5,6],[7,8]]]
# print(l[0][0][1])
# print(l[-1][-2][-2])

#SLICING
l = [1,2,3,4,5,6]
print(l[-5:-2:3])

[2]

**ADDING ITEMS to a list**

In [58]:
#append
l = [1,2,3,4,5]
l.append(6)
print(l)

[1, 2, 3, 4, 5, 6]

In [57]:
#extend
l = [1,2,3,4,5]
l.extend([6,7,8,9,10])
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [60]:
#insert
l = [1,2,3,4,5]
l.insert(4,200)
print(l)

[1, 2, 3, 4, 200, 5]

**Editing items in list**

In [63]:
l =  [1,2,3,4,5]
#editing with indexing
l[1] = 500

#Slicing editng
l[1:4] = [200,300,400]
print(l)

[1, 200, 300, 400, 5]

**Deletion in list**

In [65]:
# del
l = [1,2,3,4,5]
print(l)
del l[2]
print(l)

[1, 2, 3, 4, 5]
[1, 2, 4, 5]

In [66]:
# remove
l = [1,2,3,4,5]
l.remove(5)
print(l)

[1, 2, 3, 4]

In [68]:
# pop
l = [1,2,3,4,5]
l.pop()
print(l)

[1, 2, 3, 4]

In [71]:
#clear
l = [1,2,3,4,5]
l.clear()
print(l)

[]

**Opeartion'son list **


*   Arthmetic
*   Memebrship and loop

In [74]:
# Arithmetic
l1 = [1,2,3,4]
l2 = [5,6,7,8]
print(l1+l2)
print(l1*3)

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [80]:
# Membership
l1 = [1,2,3,4]
l2 = [1,2,3,4,[5,6]]

print([5,6] in l2)
print(6 not in l1)

True
True

In [82]:
#loop
l1 = [1,2,3,4]
l2 = [1,2,3,4,[5,6]]

for i in l1:
  print(i)

for i in l2:
  print(i)

1
2
3
4
[5, 6]

**List Function**

In [87]:
# len/max/min/sorted
l = [1,2,3,4,5]

print(len(l))
print(max(l))
print(min(l))
print(sorted(l, reverse = True ))

5
5
1
[5, 4, 3, 2, 1]

In [91]:
# count
l = [1,2,3,4,5,4,1,3]
print(l.count(4))

2

In [95]:
# index
l = [1,2,3,4,5,4,1,3]
print(l.index(1))

0

In [97]:
# reverse
l = [1,2,3,4,5,4,1,3,0]
l.reverse()
print(l)

[0, 3, 1, 4, 5, 4, 3, 2, 1]

In [99]:
# sort
l = [1,2,3,4,0]
print(l)
print(sorted(l))
print(l)
l.sort()
print(l)

[1, 2, 3, 4, 0]
[0, 1, 2, 3, 4]
[1, 2, 3, 4, 0]
[0, 1, 2, 3, 4]

In [103]:
# copy -> shallow
l = [1,2,3,4,0]
print(l)
print(id(l))
l1 = l.copy()
print(l1)
print(id(l1))

[1, 2, 3, 4, 0]
132913388305216
[1, 2, 3, 4, 0]
132913387415488

**List Comprehension**

In [ ]:
# List comprehension provides a concise way of creating lists.
#  newslist =[expression for item in iterable if condition == True]

In [104]:
# Add 1 to 10 number to a list
l = []
for i in range(1,11):
  l.append(i)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [105]:
l = [i for i in range(1,11)]
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [114]:
#  Sclaer multiplication on a vector
v = [2,3,4]
s = 3
[s*i for i in v]

[6, 9, 12]

In [132]:
# add Square
l =  [1,2,3,4,5]
[i**2 for i  in l]

1
2
3
4
5

[1, 4, 9, 16, 25]

In [133]:
## PRINT all numberrs divisible by 5 in range of  1 to 50

[i for i in range(1,51) if i%5 == 0]

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [137]:
#find the languages which start with letter p
languages =['java','python','php','c','javascript']
[languages for languages in languages if languages.startswith('p')]

['python', 'php']

In [138]:
# Nested if with list comprehseion
basket = ['apple','guava','cherry', 'banana']
my_fruits = ['apple','kiwi','grapes','banana']
#add new list from my_list and items if the fruit
# exits in basket and also starts with 'a
[fruit for fruit in my_fruits if fruit in basket if fruit.startswith('a')]

['apple']

In [139]:
# CARTIESIN PRODUCT
l1  = [1,2,3,4]
l2 = [5,6,7,8]
[i*j for i in l1 for j in l2]

[5, 6, 7, 8, 10, 12, 14, 16, 15, 18, 21, 24, 20, 24, 28, 32]

**2 Ways to traverse a list **

*   itemwise
*   indexwise

In [141]:
# itemwise
l = [1,2,3,4]
for i in l:
  print(i**3)

1
8
27
64

In [145]:
#indexxwise

l = [1,2,3,4]
for i in range(0,len(l)):
  print(l[i])

1
2
3
4

**Zip**

In [148]:
l1 = [1,2,3,4]
l2 = [-1,-2,-3,4]

list(zip(l1,l2))

[i+j for i,j in zip(l1,l2)]

[0, 0, 0, 8]

In [149]:
l = [1,2,print,type,input]
print(l)

[1, 2, <built-in function print>, <class 'type'>, <bound method Kernel.raw_input of <google.colab._kernel.Kernel object at 0x78e287739700>>]

**Characterstics of a List **

* Odered
* Mutable
* hetrogenoeus
* can have duplicates
* are dynamics
* can be nested
* items can be accessed
* can contain any kind of objects in python