<a href="https://colab.research.google.com/github/bihari-boy-to-code/DATA-Science-Notes-and-Projects/blob/main/Sets%2BTuples%2BDict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello")

**Tuples**

In [ ]:
## TUPLES is similar to list.tuples are immutable and list is mutable

In [ ]:
#creating a tuple
t1 = () #empty tuple
print(t1)
# tuple with single item
t2 = (2,)
print(t2)
#homo
t3 = (1,2,3,4)
print(t3)
#hetro
t4 = (1,2,2.4,True,[5,6])
print(t4)
#tuple 2d
t5 = (1,2,3,4,(5,6))
print(t5)
#using type conversion
t6 = tuple('hello')
print(t6)

()
(2,)
(1, 2, 3, 4)
(1, 2, 2.4, True, [5, 6])
(1, 2, 3, 4, (5, 6))
('h', 'e', 'l', 'l', 'o')

In [ ]:
## ACCESING ITEMS FROM TUPLE.
print(t3)
print(t3[0])
print(t3[-3])

print(t3[::-1])

(1, 2, 3, 4)
1
2
(4, 3, 2, 1)

In [ ]:
## EDITING ITEMS
t3[0] = 100

TypeError: 'tuple' object does not support item assignment

In [ ]:
## Adding items
print(t3) # not possible

(1, 2, 3, 4)

In [ ]:
# DELETION items
t3 = (1,2,3,4)
print(t3)
del t3
print(t3)

(1, 2, 3, 4)

NameError: name 't3' is not defined

In [ ]:
## OPERATION ON TUPLE
# + and *
# membership
# iteration
t1 = (1,2,3,4)
t2 = (5,6,7,8)
print(t1+t2)
print(t1*3)

#membership
1 in t1

(1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

True

In [ ]:
## TUPLE FUNCTIOn

t = (1,2,3,4)
len(t)

sum(t)

min(t)

max(t)

sorted(t)

[1, 2, 3, 4]

In [ ]:
# Count
t = (1,2,3,4,5,1)
t.count(1)

2

In [ ]:
#index

t = (1,2,3,4,5,1)
t.index(1)

0

In [ ]:
# special syntax/tuple unpacking

In [ ]:
# typle unpacking
a,b,c = (1,2,3)
print(a,b,c)

1 2 3
3

In [ ]:
a = 1
b = 2
a,b = b,a
print(a,b)

2 1

In [ ]:
# ZIP() tuples
a = (1,2,3,4)
b = (5,6,7,8)
list(zip(a,b))

[(1, 5), (2, 6), (3, 7), (4, 8)]

**SETS**

In [ ]:
# A sets is an unorderd collection of items.every items is unique and must be
# immutBLE. HOWever, a set itself is mutable.

In [ ]:
# CREATING A SETS
# empty sets
s = set()
print(s)
#1D and 2D
s1 = {1,2,3}
print(s1)
s2 = {1,2,3,(4,5)} #2D set
print(s2)
# homo and hetro
s3 = {1,2,3,4.5,True,"hello",1} #NO duplicates..thats why true is not printed cuz true==1
print(s3)
# USING type conversiton
s4 = set([1,2,34])
print(s4)

set()
{1, 2, 3}
{3, 1, (4, 5), 2}
{1, 2, 3, 4.5, 'hello'}
{1, 2, 34}

In [ ]:
## ACCESSING ITEMS
s1 = {1,2,3,4}

TypeError: 'set' object is not subscriptable

In [ ]:
##Editing items
s1 = {1,2,3,4}
s1[0] = 500

TypeError: 'set' object does not support item assignment

In [ ]:
## Adding items
s = {1,2,3,4}
# s.add(5)
# print(s) #update
s.update([5,6,7])
print(s)

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
# DELETING items

In [ ]:
s = {1,2,3,4}
# print(s)
# del s
# print(s)
#discard
# s.discard(5)
# print(s)
#remove
# s.remove(3)
# print(s)
#pop
# s.pop()/
#clear
s.clear()
print(s)

set()

In [ ]:
# SET OPERATION
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
#union
print(s1|s2)
#intersection
s1 & s2
#difference (-)
s1 - s2
#Symmetric difference(^)
s1 ^ s2
# Membership test
1 in s1
# iteration
for i in s1:
  print(i)

{1, 2, 3, 4, 5, 6, 7, 8}
1
2
3
4
5

In [ ]:
## SET FUNCTION

In [ ]:
s = {1,2,3,4,5}
len(s)
sum(s)
min(s)
max(s)
sorted(s)

[1, 2, 3, 4, 5]

In [ ]:
# union/update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

#s1|s2
s1.union(s2)

s1.update(s2)
print(s1)
print(s2)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5, 6, 7, 8}

In [ ]:
## INTERSECTION update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.intersection_update(s2)
print(s1)
print(s2)

{4, 5}
{4, 5, 6, 7, 8}

In [ ]:
### SET FROZENSET(Immutable set)
fs1 = frozenset([1,2,3,4])
fs2 = frozenset([4,5,6,7 ])
fs1 | fs2

# 2d DORZENSET
fs = frozenset([1,2,3,4,(5,6)])
print(fs)

frozenset({1, 2, 3, 4, (5, 6)})

In [ ]:
## set comprehension
{i for i in  range(1,11)}

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

**Dictionary**

In [1]:
### Dict in python is a collection of keys and values, used to store data values like a map, which, unlike other data types which hold only a single value as an element

In [13]:
# CREATE empty dict
a = {}
a
#1D dict
a1 = {'name':'jojo', 'gender': 'male'}
a1
#with mixed keys
b1 = {(1,2,3):1,'hello':'world'}
b1
#2D dict
c1 = {
    'name' : 'jojo',
    'colleg' : 'bit',
    'sem' : 4,
    'subj' :{
        'DSA' :50,
        'maths' :60,
        'english' :30
        }
}
c1
# Sequnce and dict function.
d1 = dict([('a',1),('b',2)])
d1
# duplicate key
e1 = {'name' : 'jojo', 'name': 'jake'}
e1
# mutable items as keys
f1 = {(1,2,3) : 'hello'}
f1

{(1, 2, 3): 'hello'}

In [18]:
## ACCESSING ITEMS
my_dict = {'name': 'jake', 'age':25}
my_dict
#[]
my_dict['age']
#get
my_dict.get("name")

'jake'

In [21]:
## Adding key-value pair
d1['gender'] = 'male'
d1
d1['name'] = 'jake'
d1

{'a': 1, 'b': 2, 'gender': 'male', 'name': 'jake'}

In [29]:
# REMOVING KEY VALUE PAIR
#pop
# d1.pop('gender')
# d1
#popitem
# d1.popitem()
# d1
#clear
d1.clear()
d1
#del

{}

In [33]:
c1['subj']['DSA'] = '90'
c1

{'name': 'jojo',
 'colleg': 'bit',
 'sem': 4,
 'subj': {'DSA': '90', 'maths': 60, 'english': 30}}

In [34]:
## EDITING KEY_VALUE PAIR

In [37]:
c1['sem'] = 5
c1
c1['maths'] = 100
c1

{'name': 'jojo',
 'colleg': 'bit',
 'sem': 5,
 'subj': {'DSA': '90', 'maths': 60, 'english': 30},
 'maths': 100}

In [37]:
## DICT Operations
# Membership
#iteration

In [40]:
print(c1)
'name' in c1

{'name': 'jojo', 'colleg': 'bit', 'sem': 5, 'subj': {'DSA': '90', 'maths': 60, 'english': 30}, 'maths': 100}

True

In [42]:
d = {
    'name' : 'jojo',
    'gender' : 'male',
    'age' : 33
}
for i in d:
  print(i,d[i])

name jojo
gender male
age 33

In [48]:
## DICTIONARY FUNCTION
#len/sorted
len(d)
print(d)
sorted(d)

{'name': 'jojo', 'gender': 'male', 'age': 33}

['age', 'gender', 'name']

In [50]:
#items/keys/Values
print(d)

print(d.items())
print(d.keys())
print(d.values())

{'name': 'jojo', 'gender': 'male', 'age': 33}
dict_items([('name', 'jojo'), ('gender', 'male'), ('age', 33)])
dict_keys(['name', 'gender', 'age'])
dict_values(['jojo', 'male', 33])

In [51]:
#update
d1 = {1:2,3:4,4:5}
d2 = {4:7,6:8}
d1.update(d2)
print(d1)

{1: 2, 3: 4, 4: 7, 6: 8}

In [ ]:
## DICTIONARY comprehension
#{key:value for vars in iterable}

In [52]:
#print 1st 10 numbers and thier squares
{i:i**2 for i in range(1,11)}

1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81
10 100

In [55]:
# usig existing dict
distances = {'delhi':1000,'mumbai':1500,'bangalore':2300}
{key:value*0.62 for(key,value) in distances.items()}

{'delhi': 620.0, 'mumbai': 930.0, 'bangalore': 1426.0}

In [58]:
#Using Zip
days= ["sunday","monday","tuesday","wednesday","thursday","friday","saturday"]
temp_c = [30.5,32.6,31.8,33.4,29.8,30.2,29.9]
{i:j for (i,j) in zip(days,temp_c)}

{'sunday': 30.5,
 'monday': 32.6,
 'tuesday': 31.8,
 'wednesday': 33.4,
 'thursday': 29.8,
 'friday': 30.2,
 'saturday': 29.9}

In [59]:
#using if condition
products = {'phone' : 10,'laptop':0,'charger':32,'tablet':0}
{key:value for (key,value) in products.items() if value>0}

{'phone': 10, 'charger': 32}

In [63]:
#Nested comprehension
#print tables of number from 2 to 4
for i in range(2,5):
  print({j:i*j for j in range(1,11)})

{1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20}
{1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30}
{1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}

In [65]:
{i:{j:i*j for j in range(1,11)} for i in range(2,5)}

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}

In [60]:
{
    2:{i:i*2 for i in range(1,11)},
    3:{i:i*3 for i in range(1,11)},
    4:{i:i*4 for i in range(1,11)}
}

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}

In [61]:
for i in range(1,11):
  print(i*2)

2
4
6
8
10
12
14
16
18
20